body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;

  cursor: pointer;
}

input {
  font-family: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
