@media print {
  .print-home-link {
    display: none;
  }

  .print-flex-box {
    display: flex;
    justify-content: space-between;
    gap: 4px;
  }

  .print-center {
    margin-left: auto;
    margin-right: auto;
  }

  .print-bcg-box {
    margin-left: auto;
    margin-right: 0;
    min-width: max-content;
  }

  .print-m-bottom-max {
    margin-bottom: 1000px;
  }
}
