@media print {
  .hidden {
    display: none;
  }
  .header {
    display: none;
  }

  .title-section {
    padding-top: 300px;

    font-size: 50px;
    letter-spacing: 5px;
  }

  .main-section {
    padding-bottom: 0;
    break-after: page;
  }

  .print-center {
    margin-left: auto;
    margin-right: auto;
  }

  .print-m-bottom-max {
    /* margin-bottom: 1000px !important; */
    break-after: page;
  }

  .next-page {
    break-after: page;
  }

  .new-page {
    break-before: page;
  }
  .no-break {
    break-inside: avoid;
  }

  .print-m-left-none {
    margin-left: 0;
  }

  .print-fs-10 {
    font-size: 10px;
  }
  .print-fs-11 {
    font-size: 11px;
  }
  .print-fs-12 {
    font-size: 12px;
  }
  .print-fs-13 {
    font-size: 13px;
  }
  .print-fs-14 {
    font-size: 14px;
  }
  .print-fs-15 {
    font-size: 15px;
  }
}

/* .print-flex-box {
    display: flex;
    justify-content: space-between;
    gap: 4px;
  } */

/* .print-bcg-box {
    margin-left: auto;
    margin-right: 0;
    min-width: max-content;
  } */
