/* geometry */
/* ===== Структурні псевдокласи ===== */
/* structure-pseudoclass-table */
.structure-pseudoclass-table .pseudoclass-container {
  display: flex;
  gap: 8px;
}

.pseudoclass-container {
  padding: 4px;
}

.pseudoclass-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 12px;
}

.structure-pseudoclass-table
  .pseudoclass-container.first-child
  li:first-child {
  font-weight: bold;
  background-color: lightgray;
}

.structure-pseudoclass-table
  .pseudoclass-container.last-child
  li:last-child {
  font-weight: bold;
  background-color: lightgray;
}

.structure-pseudoclass-table
  .pseudoclass-container.not-selector
  li:not(:first-child) {
  font-weight: bold;
  background-color: lightgray;
}

.structure-pseudoclass-table
  .pseudoclass-container.nth-child
  li:nth-child(4n + 1) {
  font-weight: bold;
  background-color: lightgray;
}

.structure-pseudoclass-table
  .pseudoclass-container.nth-last-child
  li:nth-last-child(4n + 1) {
  font-weight: bold;
  background-color: lightgray;
}

/* geometry */
/* nth-child-table */

.nth-child-table .pseudoclass-container {
  display: flex;
  gap: 8px;
}

.nth-child-table
  .pseudoclass-container.nth-child-b
  li:nth-child(2) {
  font-weight: bold;
  background-color: lightgray;
}

.nth-child-table
  .pseudoclass-container.nth-child-even
  li:nth-child(2n) {
  font-weight: bold;
  background-color: lightgray;
}

.nth-child-table
  .pseudoclass-container.nth-child-odd
  li:nth-child(2n + 1) {
  font-weight: bold;
  background-color: lightgray;
}

.nth-child-table
  .pseudoclass-container.nth-child-n-3
  li:nth-child(n + 3) {
  font-weight: bold;
  background-color: lightgray;
}

.nth-child-table
  .pseudoclass-container.nth-child--n-3
  li:nth-child(-n + 3) {
  font-weight: bold;
  background-color: lightgray;
}

.nth-child-table
  .pseudoclass-container.nth-child--n-3-q
  li:nth-last-child(-n + 3) {
  font-weight: bold;
  background-color: lightgray;
}

/* ===== Властивості Flex-контейнера ===== */

.flex-container {
  display: flex;

  margin: 0 auto;
  padding: 4px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;

  background-color: lightblue;
}

.justify-content .flex-container {
  height: 20px;
}

.flex-element {
  width: 40px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: orange;
}

.justify-content .flex-element {
  height: 100%;
}

.justify-content .flex-container.flex-start {
  justify-content: flex-start;
  gap: 8px;
}
.justify-content .flex-container.flex-end {
  justify-content: flex-end;
  gap: 8px;
}
.justify-content .flex-container.center {
  justify-content: center;
  gap: 8px;
}
.justify-content .flex-container.space-between {
  justify-content: space-between;
  gap: 8px;
}
.justify-content .flex-container.space-around {
  justify-content: space-around;
  gap: 8px;
}
.justify-content .flex-container.space-evenly {
  justify-content: space-evenly;
  gap: 8px;
}

.align-items .flex-container {
  height: 40px;
}

.align-items .flex-element {
  min-height: 50%;
}

.align-items .flex-container.flex-start {
  align-items: flex-start;
  gap: 20px;
}
.align-items .flex-container.flex-end {
  align-items: flex-end;
  gap: 20px;
}
.align-items .flex-container.center {
  align-items: center;
  gap: 20px;
}
.align-items .flex-container.stretch {
  align-items: stretch;
  gap: 20px;
}
.align-items .flex-container.baseline {
  align-items: baseline;
  gap: 20px;
  height: 80px;
}

.align-items .baseline .flex-element {
  text-decoration: underline;
  text-align: center;
}
.align-items .baseline .flex-element:nth-child(1) {
  font-size: 12px;
}
.align-items .baseline .flex-element:nth-child(2) {
  font-size: 24px;
}
.align-items .baseline .flex-element:nth-child(3) {
  font-size: 16px;
}
