* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

table {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

caption {
  font-size: 16px;
  font-weight: 700;
}

td,
th {
  border: 1px solid black;
  padding: 2px;
}

tr {
  border: 2px solid black;
}

/* tr:nth-child(odd) {
  background-color: lightgray;
} */

.accent {
  font-weight: 700;
}

.underspace {
  height: 300px;
}
.italic {
  font-style: italic;
}

.font-table {
  font-size: 14px;
}

.font-table .name {
  width: 16%;
}

.geometry-common,
.flex-common {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px dotted red;
}
