* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  /* font-family: 'Tinos', serif; */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* ===== TABLE ===== */

table {
  border-collapse: collapse;
}

caption {
  font-size: 16px;
  font-weight: 700;
}

td,
th {
  border: 1px solid black;
  padding: 4px;
}

tr {
  border: 2px solid black;
}

/* ===== CLASSES ===== */

.section {
  padding: 12px 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 4px;

  width: 720px;
}

.noList {
  list-style: none;
  padding: 0;
}

.accent {
  font-weight: 700;
}

.underspace {
  height: 300px;
}

.italic {
  font-style: italic;
}

/* .box {
  width: 100px;
  height: 100px;
  border: 2px dotted red;
  background-color: green;
} */

.bcg-box {
  padding: 4px;
  margin-left: auto;
  margin-right: 0;
  min-width: max-content;

  border-radius: 4px;
  background-color: lightgray;

  font-size: 14px;
}

.border-box {
  padding: 4px;
  border: 2px dashed black;
  border-radius: 16px;
}

.bcg-color {
  background-color: rgb(255, 248, 122);
}

.bcg-color-head {
  background-color: lightgray;
  width: fit-content;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.flow-box {
  display: flow-root;
}

.m-bottom {
  margin-bottom: 20px;
}

.m-bottom-min {
  margin-bottom: 8px;
}

.box:hover {
  background-color: blue;
}

.center-element {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.text-no-wrap {
  /* word-wrap: ; */
}

.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}

.bold {
  font-weight: 700;
}

.print-home-link {
  position: sticky;
  top: 0;
}

.thick-element {
  width: 100%;
}
