table {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

caption {
  font-size: 16px;
  font-weight: 700;
}

td,
th {
  border: 1px solid black;
  padding: 2px;
}

tr {
  border: 2px solid black;
}

/* tr:nth-child(odd) {
  background-color: lightgray;
} */

.underspace {
  height: 300px;
}
.italic {
  font-style: italic;
}

.font-table {
  font-size: 14px;
}

.font-table .name {
  width: 16%;
}
